@charset "UTF-8";
/*Reset HTML */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*INITIALISATION */
body {
  font-family: helvetica;
  font-size: 1rem;
  font-style: normal;
  color: black; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #2196F3; }
  a:hover {
    color: #1565C0; }

.sitecontent {
  padding: 0 1em; }

/* TITRE ET SOUS TITRE */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  font-family: Arial; }

h1 {
  font-size: 2em; }
  h1.sub {
    font-size: 1.7em;
    color: #78909C; }

h2 {
  font-size: 1.9em; }
  h2.sub {
    font-size: 1.6em;
    color: #78909C; }

h3 {
  font-size: 1.8em; }
  h3.sub {
    font-size: 1.5em;
    color: #78909C; }

h4 {
  font-size: 1.7em; }
  h4.sub {
    font-size: 1.4em;
    color: #78909C; }

h5 {
  font-size: 1.6em; }
  h5.sub {
    font-size: 1.3em;
    color: #78909C; }

h6 {
  font-size: 1.5em; }
  h6.sub {
    font-size: 1.2em;
    color: #78909C; }

small {
  font-size: 0.9em;
  color: #78909C; }

/* PARAGRAPHE*/
p {
  margin-bottom: 0.5rem; }

/* ALIGNEMENT ET TEXT-TRANSFOR */
.alig-c {
  text-align: center; }

.alig-g {
  text-align: left; }

.alig-d {
  text-align: right; }

.alig-j {
  text-align: justify; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  position: relative;
  cursor: help;
  border-bottom: 1px dashed black; }

blockquote {
  background: #e0e0e0;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  width: 50%; }
  blockquote::before {
    color: #aeaeae;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  blockquote p {
    display: inline; }

code {
  font-family: monospace;
  background-color: black;
  color: white;
  padding: 5px; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0; }

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff; }

/* LIIIST */
ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem; }

.list-cercle {
  list-style-type: circle; }

.list-carre {
  list-style-type: square; }

.list-none {
  list-style-type: none; }

.list-inline li {
  display: inline; }

.list-num {
  list-style-type: upper-roman; }

.list-abc {
  list-style-type: lower-alpha; }

/* TABLEAU */
table {
  margin-bottom: 1rem; }
  table th, table td {
    border: 1px solid black;
    padding: 4px;
    padding: 3px 25px 2px 25px; }
  table th {
    background-color: grey;
    font-size: 1.1rem; }

.tab-fancy th, .tab-fancy td {
  font-size: 1rem;
  border: 1px solid #00695C;
  padding: 3px 25px 2px 25px; }
.tab-fancy th {
  font-size: 1.1rem;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #26A69A;
  color: #ffffff; }
.tab-fancy tr.tab-alt td {
  color: #000000;
  background-color: #bbc1a8; }

.tab-hover {
  cursor: pointer; }
  .tab-hover:hover td {
    background-color: #2196F3;
    color: #424242; }

/*BOUTON */
/*Classe reprise d'un projet r├®alis├® en stage*/
.btn {
  padding: 7px 12px;
  letter-spacing: 1px;
  outline: 0;
  color: #252525;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
  zoom: 1;
  border: 1px solid #252525;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -ms-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  -o-transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out;
  transition: color .2s ease-in-out,background .2s ease-in-out,border .2s ease-in-out; }
  .btn a {
    color: inherit; }
  .btn:hover {
    background-color: #252525;
    color: #fff; }
  .btn::active {
    box-shadow: inset 3px 3px 5px 1px rgba(255, 255, 255, 0.3); }

.btn-blue {
  background-color: #42A5F5;
  border-color: #2962FF;
  color: white; }
  .btn-blue:hover {
    background-color: #2962FF; }

.btn-red {
  background-color: #F44336;
  border-color: #B71C1C;
  color: white; }
  .btn-red:hover {
    background-color: #B71C1C; }

.btn-yellow {
  background-color: #FFEB3B;
  border-color: #F57F17;
  color: black; }
  .btn-yellow:hover {
    background-color: #F57F17; }

.btn-green {
  background-color: #69F0AE;
  border-color: #00C853;
  color: black; }
  .btn-green:hover {
    background-color: #00C853; }

.btn-black {
  background-color: black;
  border-color: black;
  color: white; }
  .btn-black:hover {
    background-color: white;
    color: black; }
  .btn-blackactive {
    box-shadow: inset 3px 3px 5px 1px rgba(0, 0, 0, 0.3); }

.btn-lg {
  padding: 20px 25px;
  font-size: 1em;
  letter-spacing: 2px; }

.btn-xl {
  width: 100%;
  padding: 20px 25px;
  font-size: 1em;
  letter-spacing: 2px; }

/* ALERTES */
.alert {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px; }
  .alert.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
    .alert.alert-success::before {
      content: "\2714"; }
  .alert.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
    .alert.alert-info::before {
      content: "\003F"; }
  .alert.alert-avert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
    .alert.alert-avert::before {
      content: "\2718"; }
  .alert.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }
    .alert.alert-danger::before {
      content: "\26A0"; }

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 35px; }
  .header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .header .sub {
    margin-bottom: 1rem;
    font-size: 1.2em; }

/*Jumbotron */
.jumbotron {
  padding: 40px 20px;
  color: inherit;
  background-color: #eee;
  margin: 20px auto;
  text-align: center;
  width: 50%;
  min-width: 200px; }
  .jumbotron .jumb-title {
    margin-bottom: 1.5rem;
    font-size: 2rem; }
  .jumbotron .jumb-txt {
    margin-bottom: 2rem; }
  .jumbotron.jumb-blue {
    background-color: #BBDEFB; }
  .jumbotron.jumb-red {
    background-color: #EF9A9A; }
  .jumbotron.jumb-yellow {
    background-color: #FFF59D; }
  .jumbotron.jumb-green {
    background-color: #A5D6A7; }

/* NAVBAR INSPIRE DU SITE GRAFIKART.FR*/
.navbar {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  z-index: 1000;
  color: #6D7A8B;
  font-size: 14px;
  background: #404852; }
  .navbar li {
    display: inline-block;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 900px) {
      .navbar li {
        display: block; }
        .navbar li:hover {
          background-color: #6d7a8b; }
          .navbar li:hover a {
            color: white; } }
    .navbar li:hover ul {
      display: block; }
    .navbar li.logo {
      background-color: #78AB4E; }
      @media screen and (min-width: 900px) {
        .navbar li.logo {
          height: 66px;
          width: 100px;
          float: left; } }
      .navbar li.logo img {
        width: 66px; }
    .navbar li a {
      padding: 0 15px;
      line-height: 30px;
      color: #6D7A8B;
      font-weight: bold;
      cursor: pointer; }
      @media screen and (min-width: 900px) {
        .navbar li a {
          line-height: 66px; } }
      .navbar li a:hover {
        color: white; }
    .navbar li ul {
      padding: 0;
      position: absolute;
      top: 48px;
      left: 0;
      width: 150px;
      display: none; }
      .navbar li ul li {
        display: block; }

/**Breadcrumb **/
.breadcrumb li {
  display: inline; }
  .breadcrumb li + li:before {
    content: "> "; }
  .breadcrumb li:last-child a {
    color: black; }

/**PAGINATION*/
.pagination li {
  display: inline-block; }
  .pagination li.disable a {
    color: black;
    cursor: default; }

/*Code en partie r├®alis├® durant mon stage chez Articom, mission donn├®e par mon maitre de stage pour apprendre SASS*/
/*
Variable !
*/
/*Mixin pour g├®rer la grille */
/* Extends */
.col-1, .col-md-1, .col-l-1, .col-2, .col-md-2, .col-l-2, .col-3, .col-md-3, .col-l-3, .col-4, .col-md-4, .col-l-4, .col-5, .col-md-5, .col-l-5, .col-6, .col-md-6, .col-l-6, .col-7, .col-md-7, .col-l-7, .col-8, .col-md-8, .col-l-8, .col-9, .col-md-9, .col-l-9, .col-10, .col-md-10, .col-l-10, .col-11, .col-md-11, .col-l-11, .col-12, .col-md-12, .col-l-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 10px 10px; }

.row:before, .contenaire:before, .row:after, .contenaire:after {
  content: "";
  display: table; }
.row:after, .contenaire:after {
  clear: both; }
.row, .contenaire {
  zoom: 1; }

/*Classe row (permet de remettre ├á la ligne quand ├ºa sort)*/
.row {
  margin: 0 -10px;
  margin-bottom: 10px; }

.contenaire {
  margin: 0 10px; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-0 {
  left: 0%; }

.col-pull-0 {
  left: 0%; }

.col-offset-0 {
  margin-left: 0%; }

.col-1 {
  width: 8.33333%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-1 {
  left: 8.33333%; }

.col-pull-1 {
  left: 8.33333%; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-2 {
  left: 16.66667%; }

.col-pull-2 {
  left: 16.66667%; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  width: 25%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-3 {
  left: 25%; }

.col-pull-3 {
  left: 25%; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  width: 33.33333%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-4 {
  left: 33.33333%; }

.col-pull-4 {
  left: 33.33333%; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-5 {
  left: 41.66667%; }

.col-pull-5 {
  left: 41.66667%; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  width: 50%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-6 {
  left: 50%; }

.col-pull-6 {
  left: 50%; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  width: 58.33333%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-7 {
  left: 58.33333%; }

.col-pull-7 {
  left: 58.33333%; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-8 {
  left: 66.66667%; }

.col-pull-8 {
  left: 66.66667%; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  width: 75%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-9 {
  left: 75%; }

.col-pull-9 {
  left: 75%; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  width: 83.33333%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-10 {
  left: 83.33333%; }

.col-pull-10 {
  left: 83.33333%; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-11 {
  left: 91.66667%; }

.col-pull-11 {
  left: 91.66667%; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  width: 100%; }

.col-center {
  margin: 0 auto;
  float: none; }

.col-push-12 {
  left: 100%; }

.col-pull-12 {
  left: 100%; }

.col-offset-12 {
  margin-left: 100%; }

/* Pour ├®cran moyen */
@media only screen and (min-width: 640px) {
  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-0 {
    left: 0%; }

  .col-pull-md-0 {
    left: 0%; }

  .col-offset-md-0 {
    margin-left: 0%; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-1 {
    left: 8.33333%; }

  .col-pull-md-1 {
    left: 8.33333%; }

  .col-offset-md-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-2 {
    left: 16.66667%; }

  .col-pull-md-2 {
    left: 16.66667%; }

  .col-offset-md-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-3 {
    left: 25%; }

  .col-pull-md-3 {
    left: 25%; }

  .col-offset-md-3 {
    margin-left: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-4 {
    left: 33.33333%; }

  .col-pull-md-4 {
    left: 33.33333%; }

  .col-offset-md-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-5 {
    left: 41.66667%; }

  .col-pull-md-5 {
    left: 41.66667%; }

  .col-offset-md-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-6 {
    left: 50%; }

  .col-pull-md-6 {
    left: 50%; }

  .col-offset-md-6 {
    margin-left: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-7 {
    left: 58.33333%; }

  .col-pull-md-7 {
    left: 58.33333%; }

  .col-offset-md-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-8 {
    left: 66.66667%; }

  .col-pull-md-8 {
    left: 66.66667%; }

  .col-offset-md-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-9 {
    left: 75%; }

  .col-pull-md-9 {
    left: 75%; }

  .col-offset-md-9 {
    margin-left: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-10 {
    left: 83.33333%; }

  .col-pull-md-10 {
    left: 83.33333%; }

  .col-offset-md-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-11 {
    left: 91.66667%; }

  .col-pull-md-11 {
    left: 91.66667%; }

  .col-offset-md-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-center {
    margin: 0 auto;
    float: none; }

  .col-push-md-12 {
    left: 100%; }

  .col-pull-md-12 {
    left: 100%; }

  .col-offset-md-12 {
    margin-left: 100%; } }
/*Pour grand ├®cran */
@media only screen and (min-width: 1200px) {
  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-0 {
    left: 0%; }

  .col-pull-l-0 {
    left: 0%; }

  .col-offset-l-0 {
    margin-left: 0%; }

  .col-l-1 {
    width: 8.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-1 {
    left: 8.33333%; }

  .col-pull-l-1 {
    left: 8.33333%; }

  .col-offset-l-1 {
    margin-left: 8.33333%; }

  .col-l-2 {
    width: 16.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-2 {
    left: 16.66667%; }

  .col-pull-l-2 {
    left: 16.66667%; }

  .col-offset-l-2 {
    margin-left: 16.66667%; }

  .col-l-3 {
    width: 25%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-3 {
    left: 25%; }

  .col-pull-l-3 {
    left: 25%; }

  .col-offset-l-3 {
    margin-left: 25%; }

  .col-l-4 {
    width: 33.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-4 {
    left: 33.33333%; }

  .col-pull-l-4 {
    left: 33.33333%; }

  .col-offset-l-4 {
    margin-left: 33.33333%; }

  .col-l-5 {
    width: 41.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-5 {
    left: 41.66667%; }

  .col-pull-l-5 {
    left: 41.66667%; }

  .col-offset-l-5 {
    margin-left: 41.66667%; }

  .col-l-6 {
    width: 50%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-6 {
    left: 50%; }

  .col-pull-l-6 {
    left: 50%; }

  .col-offset-l-6 {
    margin-left: 50%; }

  .col-l-7 {
    width: 58.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-7 {
    left: 58.33333%; }

  .col-pull-l-7 {
    left: 58.33333%; }

  .col-offset-l-7 {
    margin-left: 58.33333%; }

  .col-l-8 {
    width: 66.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-8 {
    left: 66.66667%; }

  .col-pull-l-8 {
    left: 66.66667%; }

  .col-offset-l-8 {
    margin-left: 66.66667%; }

  .col-l-9 {
    width: 75%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-9 {
    left: 75%; }

  .col-pull-l-9 {
    left: 75%; }

  .col-offset-l-9 {
    margin-left: 75%; }

  .col-l-10 {
    width: 83.33333%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-10 {
    left: 83.33333%; }

  .col-pull-l-10 {
    left: 83.33333%; }

  .col-offset-l-10 {
    margin-left: 83.33333%; }

  .col-l-11 {
    width: 91.66667%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-11 {
    left: 91.66667%; }

  .col-pull-l-11 {
    left: 91.66667%; }

  .col-offset-l-11 {
    margin-left: 91.66667%; }

  .col-l-12 {
    width: 100%; }

  .col-l-center {
    margin: 0 auto;
    float: none; }

  .col-push-l-12 {
    left: 100%; }

  .col-pull-l-12 {
    left: 100%; }

  .col-offset-l-12 {
    margin-left: 100%; } }

/*# sourceMappingURL=style.css.map */
