/* ALERTES */

$alert-padding:15px;
$alert-margin:20px;

$alert-success-bg:#dff0d8;
$alert-success-border:#d6e9c6;
$alert-success-color:#3c763d;

$alert-info-bg:#d9edf7;
$alert-info-border:#bce8f1;
$alert-info-color:#31708f;

$alert-avert-bg:#fcf8e3;
$alert-avert-border:#faebcc;
$alert-avert-color:#8a6d3b;

$alert-danger-bg:#f2dede;
$alert-danger-border:#ebccd1;
$alert-danger-color:#a94442;


.alert {
  width: 100%;
  padding: $alert-padding;
  margin-bottom:$alert-margin;
  border: 1px solid black;
  border-radius: 4px;
  &.alert-success {
    color:$alert-success-color;
    background-color:$alert-success-bg ;
    border-color:$alert-success-border;
    &::before {
      content: "\2714";
    }
  }
  &.alert-info {
    color: $alert-info-color;
    background-color:$alert-info-bg ;
    border-color:$alert-info-border ;
    &::before {
      content: "\003F";
    }
  }
  &.alert-avert {
    color:$alert-avert-color ;
    background-color:$alert-avert-bg ;
    border-color:$alert-avert-border;
    &::before {
      content: "\2718";
    }
  }
  &.alert-danger {
    color:$alert-danger-color ;
    background-color:$alert-danger-bg ;
    border-color:$alert-danger-border ;
    &::before {
      content: "\26A0";
    }
  }
}
