mark{
	background-color: yellow;
	color :black;
}

del{
	text-decoration: line-through;
}

ins{
	text-decoration: underline;
}

u{
	text-decoration: underline;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

abbr {
	position: relative;
	cursor: help;
	border-bottom: 1px dashed black;
}
