$jumbotron-red:#EF9A9A;
$jumbotron-yellow:#FFF59D;
$jumbotron-green:#A5D6A7;
$jumbotron-blue:#BBDEFB;

$jumbotron-padding: 40px 20px;
$jumbotron-margin:20px auto;

/* HEADER */

.header{
  text-align: center;
  margin-bottom:35px;
  h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .sub{
    margin-bottom: 1rem;
    font-size: 1.2em;
  }
}


/*Jumbotron */

.jumbotron {
  padding :$jumbotron-padding;
  color: inherit;
  background-color: #eee;
  margin: $jumbotron-margin;
  text-align: center;
  width: 50%;
  min-width: 200px;
  .jumb-title{
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .jumb-txt{
    margin-bottom: 2rem;
  }
  &.jumb-blue{
    background-color: $jumbotron-blue;
  }
  &.jumb-red{
    background-color: $jumbotron-red;
  }
  &.jumb-yellow{
    background-color:$jumbotron-yellow ;
  }
  &.jumb-green{
    background-color:$jumbotron-green ;
  }


}

/* NAVBAR INSPIRE DU SITE GRAFIKART.FR*/

.navbar{

  padding: 0; margin: 0;
  height: auto;
  width: 100%;
  z-index: 1000;
  color: #6D7A8B;
  font-size: 14px;
  background: #404852;

  li{
    display: inline-block;
    text-align: center;
    position:relative;
    @media screen and (max-width: 900px){
      display: block;
      &:hover{
        background-color: lighten(#404852, 20%);
        a{
          color:white;
        }
      }
    }
    &:hover ul{display: block;}
    &.logo{
      background-color: #78AB4E;
      @media screen and (min-width: 900px){
        height: 66px;
        width: 100px;
        float:left;
      }
      img{
        width:66px;
      }
    }
    a{
      padding: 0 15px;
      line-height: 30px;
      color: #6D7A8B;
      font-weight: bold;
      cursor:pointer;
      @media screen and (min-width: 900px){
        line-height: 66px;
      }
      &:hover{
        color:white;
      }
    }
    ul{
      padding: 0;
      position: absolute;
      top: 48px;
      left: 0;
      width: 150px;
      display: none;
      li{
        display: block;
      }
    }
  }
}


/**Breadcrumb **/
.breadcrumb {
  li {

    display: inline;
    &+li:before {
      content:"> ";
    }
    &:last-child{
      a{
        color:black;}
      }
    }
  }

  /**PAGINATION*/

  .pagination{

    li{
      display: inline-block;
      &.disable{
        a{
          color:black;
          cursor: default;
        }
      }
    }
  }
