/* TABLEAU */

table{
  margin-bottom:1rem;
  th,td{
    border:1px solid black;
    padding:4px;
    padding: 3px 25px 2px 25px;
  }

  th{
    background-color: grey;
    font-size: 1.1rem;
  }
}

.tab-fancy {
  th,td {
    font-size: 1rem;
    border: 1px solid #00695C;
    padding: 3px 25px 2px 25px;
  }
  th{
    font-size: 1.1rem;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #26A69A;
    color: #ffffff;
  }
  tr.tab-alt td {
    color: #000000;
    background-color: #bbc1a8;
  }
}


.tab-hover{
  cursor:pointer;
  &:hover{
    td{
      background-color: #2196F3;
      color:#424242;
    }
  }
}
