body{

  .sitecontent{
    margin: 0 auto;
    background-color: white;
  }
}


.navbar{
  position:relative;
  li{
    &:first-child{
      background-color: #78AB4E;
      a{
        color:white;
      }
      &:hover{
        background-color: darken(#78AB4E,5%);
      }

    }

  }
}


#search{
  @media screen and (min-width: 900px){

    position: absolute;
    right: 0;
    top:0;
  }
}

#login{
  text-align: right;

}




#cat{
  width: 80%;
  margin: 50px auto 0 auto;
  figure{
    position: relative;
    text-align: center;
    border:1px solid black;
    img{
      width: 60%;
    }
    figcaption{
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      text-align: center;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      color:white;
    }
    &:hover{
      figcaption{
        top:0;
        padding-top: 30%;

      }
    }
  }
}

#recherche,#ajout{
  width:80%;
  margin:20px auto;

}
.breadcrumb{
  margin-left: 10px;
}

#block_recherche{

  background-color:rgba(#404852,0.5);
  border-radius: 5px;
  padding:10px;
  text-align: center;
  margin:30px auto;
  width:90%;
  @media screen and (min-width: 900px){
    width:60%;
  }
  input,select {
    width: 90%;
    max-width:250px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    display:block;
    font-size:18px;
    color:black;
    padding-left:20px;
    padding-right:20px;
    margin: 5px auto;
  }

}

#resultat{
  #block_rez{
    border-bottom: 1px solid;
    border-top:1px solid;
  }
  a{
    div{
      color: initial;
      font-style: initial;
      font-weight: initial;
      img{
        width:100%;
        max-width: 160px;
      }


    }
  }
}

#annonce{
  width:80%;
  margin:0 auto;
  div{
    img{
      width:100%;
    }
  }
  #block_contact{
    text-align: center;
    border:1px solid;
    padding:10px;
  }
}
#ajout{
  form{
    background-color:rgba(#404852,0.4);
    padding: 20px;
    border-radius: 5px;
    input,textarea,select{
      background-color: transparent;
      border:1px solid black;
      border-radius: 1px;
    }
    ::-webkit-input-placeholder { color:black; }
    ::-moz-placeholder { color:black; } /* firefox 19+ */
    :-ms-input-placeholder { color:black; } /* ie */
    input:-moz-placeholder { color:black; }
  }
}

footer {
  position: absolute;
  background-color: #404852;
  left: 0;
  right: 0;
  padding: 5px 10px;
  color:white;
  margin-top:15px;
}
